.card-item {
  width: auto;
  height: auto;
  padding: 5px;
  border: 1px dotted;
  border-radius: 5px;
  margin: 5px;
  background-color: aliceblue;
}

.container-cards {
  border: 1px solid;
  width: 50vw;
  height: 700px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.container-cards > p {
  background-color: grey;
  color: white;
  font-size: x-large;
  width: auto;
}

.layout-dragging {
  border: 2px dotted;
}

.dnd-grid {
  display: flex;
  gap: 10px;
  overflow-wrap: normal;
}
